[submodule "elisp/git-emacs"]
	path = elisp/git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "elisp/rinari"]
	path = elisp/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "elisp/gist"]
	path = elisp/gist
	url = git://github.com/diasjorge/gist.el.git
[submodule "elisp/cucumber"]
	path = elisp/cucumber
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "elisp/jekyll"]
	path = elisp/jekyll
	url = git@github.com:diasjorge/jekyll.el.git
[submodule "elisp/auto-complete"]
	path = elisp/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "elisp/inf-ruby-bond"]
	path = elisp/inf-ruby-bond
	url = http://github.com/pd/inf-ruby-bond.git
[submodule "elisp/zencoding"]
	path = elisp/zencoding
	url = git://github.com/chrisdone/zencoding.git
[submodule "elisp/rvm"]
	path = elisp/rvm
	url = git://github.com/senny/rvm.el.git
[submodule "elisp/haml-mode"]
	path = elisp/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "elisp/sass-mode"]
	path = elisp/sass-mode
	url = git://github.com/nex3/sass-mode.git
[submodule "elisp/magit"]
	path = elisp/magit
	url = git://github.com/magit/magit.git
[submodule "elisp/nxhtml"]
	path = elisp/nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
[submodule "elisp/ruby-test-mode"]
	path = elisp/ruby-test-mode
	url = git@github.com:diasjorge/ruby-test-mode.git
[submodule "elisp/yaml-mode"]
	path = elisp/yaml-mode
	url = git@github.com:diasjorge/yaml-mode.git
