[submodule "elisp/git-emacs"]
	path = elisp/git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "snippets/yasnippets-rails"]
	path = snippets/yasnippets-rails
	url = git://github.com/eschulte/yasnippets-rails.git
[submodule "elisp/rinari"]
	path = elisp/rinari
	url = git://github.com/eschulte/rinari.git
